h2 {
   text-align: center;
   }

.main_explanation {
	color:black;
	margin-left:100px;
	margin-right:100px;
	text-align: center;
	font-style: italic;
	font-size: 150%;
	}

.title_line_graph {
	text-align: center;
	font-size: 120%;
   }
   
.title_map_graph {
	text-align: center;
	font-size: 120%;
   }

.user_message {
	text-align: left;
	font-size: 80%;
   }
   
.last_div {
	font-size: 80%;
   }